docker/node-red/data/flows.json
[{"id":"936f535a.09e8d","type":"tab","label":"Playground","disabled":false,"info":""},{"id":"19a577b3b70f113d","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"d3e25aa2641240fe","type":"starwards-config","name":"Starwards host.docker","url":"http://host.docker.internal/"},{"id":"7338e8bb.63d7e8","type":"mqtt-broker","name":"MQTT docker","broker":"mqtt","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f0e400c79616e3e2","type":"debug","z":"936f535a.09e8d","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":80,"wires":[]},{"id":"ccbf97f997a7b35b","type":"delay","z":"936f535a.09e8d","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":370,"y":80,"wires":[["f0e400c79616e3e2"]]},{"id":"1890d5650aca1bc6","type":"ship-in","z":"936f535a.09e8d","name":"","configNode":"d3e25aa2641240fe","shipId":"GVTS","pattern":"**","x":120,"y":80,"wires":[["ccbf97f997a7b35b"]]},{"id":"a47f10df1033c712","type":"ship-out","z":"936f535a.09e8d","name":"","configNode":"d3e25aa2641240fe","shipId":"GVTS","x":610,"y":260,"wires":[]},{"id":"acc5a9e012d3fe0f","type":"debug","z":"936f535a.09e8d","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":180,"wires":[]},{"id":"ad86259d696b0218","type":"ship-in","z":"936f535a.09e8d","name":"","configNode":"d3e25aa2641240fe","shipId":"GVTS","pattern":"/chainGunAmmo","x":160,"y":180,"wires":[["acc5a9e012d3fe0f"]]},{"id":"048b09952a8e8446","type":"inject","z":"936f535a.09e8d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/chainGunAmmo","payload":"1234","payloadType":"num","x":160,"y":260,"wires":[["a47f10df1033c712"]]}]