docker/node-red/data/flows.json
[{"id":"4c9031d5.897f1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7338e8bb.63d7e8","type":"mqtt-broker","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8dd71886.ad7e18","type":"mqtt in","z":"4c9031d5.897f1","name":"","topic":"test-topic","qos":"2","datatype":"auto","broker":"7338e8bb.63d7e8","nl":false,"rap":true,"rh":0,"x":610,"y":460,"wires":[["a65a5445.2d2348"]]},{"id":"56c62f24.fa5e2","type":"mqtt out","z":"4c9031d5.897f1","name":"","topic":"test-topic","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7338e8bb.63d7e8","x":840,"y":360,"wires":[]},{"id":"a65a5445.2d2348","type":"debug","z":"4c9031d5.897f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":460,"wires":[]},{"id":"5611ee87.f3cef","type":"inject","z":"4c9031d5.897f1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test-topic","payload":"","payloadType":"date","x":610,"y":360,"wires":[["56c62f24.fa5e2"]]}]